.vidio{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.audio{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.text-vidio{
    display: flex;
    justify-content: center;
    position: absolute; top: 90px;
}
.text-audio{
    display: flex;
    justify-content: center;
    position: absolute; top: 430px;
}